<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!--
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134337150-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-134337150-1');
  </script>
  -->
  <title>err<%= code %> - Reporter</title>
  <link rel="icon" href="https://liff-reporter.netlify.com/facebook_profile_image.png">
  <link rel="apple-touch-icon" href="https://liff-reporter.netlify.com/facebook_profile_image.png">
  <meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@waritocomatta">
  <meta name="twitter:creator" content="@waritocomatta">
  <meta property="og:url" content="https://liff-reporter.glitch.me">
  <meta property="og:title" content="liff-reporter">
  <meta property="og:description" content="liff-reporter">
	<meta property="og:image" content="https://liff-reporter.netlify.com/facebook_cover_photo_2.png">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">
</head>
<body">
<h1>err<%= code %></h1>
<a href="/">GO TO TOP.</a>
</body>
